@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f9f9f9;
}

.container {
  position: absolute;
  max-width: 500px;
  height: 500px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-wrapper {
  position: relative;
  background: #fff;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
}

.form-wrapper header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.row {
  height: 100%;
}

.card {
  position: relative;
  background-color: #ffffff;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.7);
}

.form-wrapper .input {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  padding-left: 40px;
  border: none;
  box-shadow: 0 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.form-wrapper .input:focus {
  outline: none;
}

.form {
  position: relative;
  margin-top: 50px;
}

.form-wrapper .btn {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  width: 230px;
  border: none;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.form-wrapper .btn:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.form-wrapper .btn:focus {
  outline: none;
}

.form-wrapper .fas {
  position: relative;
  color: #bb36fd;
  left: 36px;
}
